html {
	height: 100%;
}

h3 {
	text-align: center;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top: 200px;
	padding-bottom: 40px;
	font-family: "Nanum Gothic", arial, helvetica, sans-serif;
	background-repeat: no-repeat;
}

.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}

.btn {
	width: 310px;
	height: 40px;
	font-size: 15px;
	background-color: #000000;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

#btn-Yes {
	background-color: #000000;
	border: none;
}

.login .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.checkbox {
	margin-right: 20px;
	text-align: right;
}

.links {
	text-align: center;
	margin-bottom: 155px;
}

a {
	color: #000000;
	text-decoration: none !important
}

a:hover {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

.check {
	color: red;
}

#sns {
	position: relative;
	margin-top: 22px;
	width: 310px;
	height: 40px;
	left: 48px;
}

#kakao-box {
	width: 300px;
	height: 44px;
	border-radius: 5px;
	margin-bottom: 8px;
	font-size: 12px;
	color: #4a4a4a;
	background-color: #fff115;
	box-shadow: 0 2px 1px 0 rgba(155, 155, 155, 0.5);
	display: flex;
	align-items: center;
}

#facebook-box {
	width: 300px;
	height: 44px;
	border-radius: 5px;
	margin-bottom: 8px;
	font-size: 12px;
	color: #ffffff;
	background-color: #3b5998;
	box-shadow: 0 2px 1px 0 rgba(155, 155, 155, 0.5);
	display: flex;
	align-items: center;
}

#google-box {
	width: 300px;
	height: 44px;
	border-radius: 5px;
	margin-bottom: 8px;
	font-size: 12px;
	color: #4a4a4a;
	background-color: #ffffff;
	box-shadow: 0 2px 1px 0 rgba(155, 155, 155, 0.5);
	display: flex;
	align-items: center;
}

#icon-img {
	margin-left: 50px;
	margin-right: 26px;
	margin-top: 6px;
	margin-bottom: 6px;
}